<div class="header-container" xmlns="http://www.w3.org/1999/html">
    <span class="heading">Creativity Inspire</span>
    <div class="login-signup navbar-form">
        <div class="btn-group about dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu4" data-toggle="dropdown">
                About <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="" ng-click="about()">About</a>
                    <a role="menuitem" tabindex="-1" href="" ng-click="contactUsLink()">Contact Us</a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-default" ng-click="loginButton()">Log In</button>
        <button type="button" class="btn btn-default" ng-click="signupButton()">Sign Up</button>
        <a href="" class="forgot-password" ng-click="forgotPasswordLink()">Forgot Password</a>
    </div>
    <div class="welcome-container">
        <div class="btn-group settings dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown">
                Settings <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="" ng-click="contactUsLink()">Contact Us</a>
                    <a role="menuitem" tabindex="-1" href="" ng-click="changeEmailLink()">Change Email</a>
                    <a role="menuitem" tabindex="-1" href="" ng-click="changePasswordLink()">Change Password</a>
                    <a role="menuitem" tabindex="-1" href="" ng-click="logout()">Log Out</a>
                </li>
            </ul>
        </div>
        <p class="logged-in-user navbar-form pull-right">
            Welcome {{username}}
            <span ng-show="username">{{Username}}</span>
        </p>
    </div>

    <div class="creations-nav-bar">
        <button ng-if="isLoggedIn" class="btn btn-titles btn-success" ng-click="myCreations(username)">My creations</button>
        <button class="btn btn-titles btn-primary" ng-click="allCreations()">All creations</button>
        <button class="btn btn-titles btn-default" ng-click="popularCreations()">Popular creations</button>

        <div class="btn-group creators dropdown" ng-show="creators.length">
            <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                Choose a Creator <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" ng-repeat="creator in creators">
                    <a role="menuitem" tabindex="-1" href="" ng-click="myCreations(creator)">{{creator}}</a>
                </li>
            </ul>
        </div>

        <div class="btn-group creations dropdown" ng-show="creations.length">
            <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown">
                Their creations <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                <li role="presentation" ng-repeat="creation in onePersonsCreations">
                    <a role="menuitem" tabindex="-1" href="" ng-click="creationByTitle(creation.title)">{{creation.title}}</a>
                </li>
            </ul>
        </div>
        <input type="text" class="form-control creation-search-term" ng-model="searchTerm" placeholder="Search title, content or author">
        <button type="submit" class="btn btn-primary" ng-click="creationBySearch()">Search</button>
        <button type="button" ng-if="isLoggedIn" class="btn btn-success" ng-click="saveRequest()">Add new creation</button>
    </div>
</div>

<div class="alert alert-info" ng-show="creations.length == 0">
    No creations found.
</div>

<div class="creation-container" ng-show="creations.length > 0">
    <br/><br/>
    <div class="creations">
        <div class="creation-details"ng-repeat="creation in creations">
            <p class="title">{{creation.title}}</p>
            <p class="author">by {{creation.username}}</p>
            <textarea class="description" readonly on-finish-render>{{creation.poem}}</textarea>
            <div class="creation-details-footer" ng-switch on="creation.username == username">
                <div class="read-more-link">
                    <a ng-switch-when=false href="javascript:void(0)" ng-click="readMoreRequest(creation.title,creation.poem,creation.username)">Read more...</a>
                    <a ng-switch-when=true href="javascript:void(0)" ng-click="updateRequest(creation.title,creation.poem,creation.isPrivate)">Read more and update...</a>
                </div>
                <button type="button" ng-switch-when=true class="btn btn-danger btn-small pull-right" ng-click="deleteRequest(creation.title)">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- MODALS -->
<div class="modal fade hide modal-dialog-large" id="aboutModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">About</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea>We built this website and the iPhone App to give everyone a very simple framework to create!

An opportunity to feel inspiration and to inspire others.
To be active rather than passive.
To create from nothing rather than just watching others create on the TV or in movies.
To write a small Haiku (3 line poem), a short poem, a short story.

Just sign up and start creating or read and be inspired by others writings.

If you like, you can make any of your creations only viewable when you are logged in.  Otherwise, it will be viewable for everyone.

Enjoy!

                    </textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default enter-button" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade hide modal-dialog-large" id="contactUsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Contact Us</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" ng-model="name" autocorrect="off" autocapitalize="off" class="form-control  username-textfield" placeholder="name">
                    <input type="email" ng-model="email" autocorrect="off" autocapitalize="off" class="form-control" placeholder="email">
                    <input type="text" ng-model="subject" autocorrect="off" autocapitalize="off" class="form-control" placeholder="subject">
                    <textarea ng-model="comment" autocorrect="off" autocapitalize="off" class="form-control contact-us" placeholder="comment/question ..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary enter-button" ng-click="contactUs()">Send</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade hide modal-dialog-small" id="signupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sign Up</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" ng-model="username" autocorrect="off" autocapitalize="on" class="form-control username-textfield" placeholder="username">
                    <input type="email" ng-model="email" autocorrect="off" autocapitalize="off" class="form-control" placeholder="email">
                    <input type="password" ng-model="password" autocorrect="off" autocapitalize="off" class="form-control" placeholder="password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary enter-button" ng-click="signup()">Enter</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade hide modal-dialog-small" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Log In</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="email" ng-model="email" autocorrect="off" autocapitalize="off" class="form-control" placeholder="email">
                    <input type="password" ng-model="password" autocorrect="off" autocapitalize="off" class="form-control" placeholder="password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary enter-button enter-button" ng-click="login()">Enter</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade hide modal-dialog-small" id="forgotPasswordModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Forgot your password?</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>To reset your password, type the full email address you use to sign into your account.  We will send you an email to reset your password.</label>
                    <input type="text" ng-model="username" autocorrect="off" autocapitalize="on" class="form-control username-textfield" placeholder="username">
                    <input type="email" ng-model="email" autocorrect="off" autocapitalize="off" class="form-control" placeholder="email">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary enter-button" ng-click="forgotPassword()">Enter</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade hide modal-dialog-small" id="changeEmailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Change Email</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Enter your old email and your new email twice:</label>
                    <input type="email" ng-model="oldEmail" autocorrect="off" autocapitalize="off" class="form-control" placeholder="old email">
                    <input type="email" ng-model="newEmail1" autocorrect="off" autocapitalize="off" class="form-control" placeholder="new email">
                    <input type="email" ng-model="newEmail2" autocorrect="off" autocapitalize="off" class="form-control" placeholder="new email">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary enter-button" ng-click="changeEmail()">Enter</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade hide modal-dialog-small" id="changePasswordModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Enter your old password and your new password twice:</label>
                    <input type="password" ng-model="oldPassword" autocorrect="off" autocapitalize="off" class="form-control" placeholder="old password">
                    <input type="password" ng-model="newPassword1" autocorrect="off" autocapitalize="off" class="form-control" placeholder="new password">
                    <input type="password" ng-model="newPassword2" autocorrect="off" autocapitalize="off" class="form-control" placeholder="new password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary enter-button" ng-click="changePassword()">Enter</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade hide modal-dialog-large" id="readMoreModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{readTitle}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control" rows="10" class="readPoem" ng-model="readPoem"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default enter-button" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade hide modal-dialog-large" id="newCreationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Creation</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" class="saveTitle" ng-model="saveTitle" placeholder="Creation title">
                    <textarea class="form-control" rows="10" class="savePoem" ng-model="savePoem" placeholder="Creation... "></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <label>Creation is only viewable on this website when I am logged in:</label>
                <input type="checkbox" ng-model="savePrivate" class="form-control">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="saveCreation()">Save creation</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade hide modal-dialog-large" id="updateCreationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{updateTitle}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control" rows="10" id="updatePoem" ng-model="updatePoem" placeholder="Creation... "></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <label>Creation is only viewable on this website when I am logged in:</label>
                <input type="checkbox" ng-model="updatePrivate" class="form-control">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success has-spinner" ng-click="updateCreation()">
                    <span class="spinner"><i class="icon-spin icon-refresh"></i></span>>
                    Update creation
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade hide modal-dialog-small" id="deleteCreationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p>Are you sure you would like to delete this creation?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="deleteCreation()">Yes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade hide modal-dialog-small" id="errorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Error Message</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p>{{errorMessage}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade hide modal-dialog-small" id="confirmationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Success</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p>{{confirmationMessage}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->